[submodule "saltcfg"]
	path = saltcfg
	url = https://github.com/fly/saltcfg.git
[submodule "states"]
	path = states
	url = https://github.com/fly/states.git
[submodule "pillars"]
	path = pillars
	url = https://github.com/fly/pillars.git
